* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

header {
    background: #020617;
    padding: 15px 40px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #38bdf8;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

section {
    padding: 60px 40px;
    max-width: 900px;
    margin: auto;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-container span {
    background: #020617;
    padding: 10px 15px;
    border-radius: 5px;
}

.project-card {
    background: #020617;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 40px;
}